@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-ink: #0B0B0D;
  --brand-gold: #D9AE43;
  --brand-pink: #FF3C93;
}

body {
  background-color: var(--brand-ink);
  color: white;
}

.font-heading {
  font-family: 'Oswald', sans-serif;
}

.text-gold-gradient {
  background: linear-gradient(135deg, #BF953F 0%, #FCF6BA 25%, #B38728 50%, #FBF5B7 75%, #AA771C 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
